body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #0367A6;
    color: #ffffff;
    padding: 1em 0;
    border-bottom: 3px solid #0367A6;
    box-shadow: 0 4px 6px -2px rgb(105, 104, 104);
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin: 0 0.5px; 
}

nav ul li a {
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

nav ul li a#entrar {
    background-color: #0367A6;
    color: white;
    border-radius: 50px;
}

nav ul li a#cadastrar {
    color: #ffffff;
}

nav ul li.separator {
    width: 2px;
    height: 24px;
    background-color: #ffffff;
}

.perfil {
    width: 30px;
    max-width: 100%;
    height: auto;
    margin-right: 2px; 
}

main {
    display: flex;
    height: calc(100vh - 100px); 
}

.main-left {
    flex: 0 0 15%; 
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid #d8d8d8; 
    height: 100%; 
}

.main-right {
    flex: 0 0 85%; 
    padding: 20px;
    box-sizing: border-box;
}


